//按钮样式 - 管理
.button-default {
	box-shadow: #F5F5F5 0px 2px 6px 0px;
	border-radius: 10upx;
	width: 230upx;
	height: 80upx;
	line-height: 80upx;
	text-align: center;
	font-size: 36upx;
}
.button-view {
	@extend .button-default;
	background-color: #01a1eb;
	color: white;
}
.button-view2 {
	@extend .button-default;
	color: #01a1eb;
	background-color: white;
	border: 1px solid #f3eeee;
}
.button-lg {
	width: 320upx;
	height: 80upx;
	line-height: 80upx;
}
.button-max {
	width: 100%;
	margin-left:24upx;
	margin-right:24upx;
	height: 80upx;
	line-height: 80upx;
}
